.body {
    
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding: 92px 50px 96px;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image{

}

.header__menu {

}

.header__links-list {
    list-style:circle;
    display: flex;
    gap: 30px;
}

.header__links-list-item{

}

.header__link {
    font-size: 18px;

}

.header__link_active{

}

.header__address{
    max-width:240px;
    justify-self: end;
}

.address {
    font-size: 18px;
    font-style: normal;
}

/* ----- main ------*/

.cover{
    background-image: url("../images/cover.jpg");
    position: relative;
    z-index: -2;
    padding: 0;

}

.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cover__title{
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-style: bold;
    text-transform: uppercase;
    letter-spacing:0.3em;
    margin: 50px;
    padding-top: 165px;



}

.cover__title span {
    display: grid;
}


.aligned-text{
    
  align-items: flex-start;


}

.aligned-text_center{
    justify-content: center;
}

.aligned-text_right{
  justify-content: end;

}


.letter-spacing-extended{

}


.cover__description{
    
    display: flex;
    padding: 50px;
    align-items: baseline;
    justify-content: space-between;

}


.cover__description-text{
    font-size: 22px;
    word-spacing:0.9em;
    color: white;
    text-transform: uppercase;
    font-style: normal;
}

.bet-button{
    height: 51px;
    border: 1px solid white;
    width: 256px;
    background-color:transparent;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    font-style: normal;

    justify-content: flex-end;

}
