.body {
    
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding: 92px 50px 96px;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image{

}

.header__menu {

}

.header__links-list {
    list-style:circle;
    display: flex;
    gap: 30px;
}

.header__links-list-item{
text-decoration: underline;

}

.header__link {
    font-size: 18px;

}

.header__link_active{
    list-style-type: none;
    text-decoration: none;


}

.header__address{
    max-width:240px;
    justify-self: end;
}

.address {
    font-size: 18px;
    font-style: normal;
}

/* ----- cover ------*/

.cover{
    background-image: url("../images/cover.jpg");
    position: relative;
    z-index: -2;
    padding: 0;

}

.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cover__title{
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-style: bold;
    text-transform: uppercase;
    letter-spacing:0.3em;
    margin: 50px;
    padding-top: 165px;



}

.cover__title span {
    display: grid;
}


.aligned-text{
    
  align-items: flex-start;


}

.aligned-text_center{
    justify-content: center;
}

.aligned-text_right{
  justify-content: end;

}


.letter-spacing-extended{

}


.cover__description{
    
    display: flex;
    padding: 50px;
    align-items: baseline;
    justify-content: space-between;

}


.cover__description-text{
    font-size: 22px;
    word-spacing:0.9em;
    color: white;
    text-transform: uppercase;
    font-style: normal;
}

.bet-button{
    height: 51px;
    border: 1px solid white;
    width: 256px;
    background-color:transparent;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    font-style: normal;

    justify-content: flex-end;

}

/* ----- lots ------*/


.lots{
    margin-top: 180px;
    margin-bottom: 120px;

    z-index: -3;

}
.lots__heading{
text-transform: uppercase;
    margin-bottom: 27px;
font-size: 40px;
    margin-left: 64px;


}

.lots__card-list{
    margin-left: 24px;
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin-bottom: 30px;
}

.lots__card-list-item{
    width: 334px;
    height: 596px;

}

.card-link{

height: 100%;
}

.card{
    position: relative;
height: 100%;
display: flex;
flex-direction:column;
justify-content: space-between;
align-items: center;
background-position: center;

}

.card_type_film{
    z-index: -2;
background-image: url("../images/card-lot-01.jpg");

}

.card_type_book{
    z-index: -2;
background-image: url("../images/card-lot-02.jpg");


}

.card_type_picture{
    z-index: -2;
background-image: url("../images/card-lot-03.jpg");


}

.card__title{
color: white;
text-transform: uppercase;
font-style: bold;
font-size: 22px;
padding: 48px 40px 0 40px;
text-decoration: underline;



}

.card__text{
color: white;
font-size: 20px;
padding: 0 40px 48px 40px;



}

.lots__look-more-link{
    margin-left: 64px;

text-decoration: underline;
font-size: 20px;
}


/* ----- about ------*/

.about{
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 24px;
    

}
.about__column{
    grid-row: 2;
    grid-column: 2;
    margin-left: 25px;
}

.about__logo{
    width: 240px;
    height: 240px;
    background-color: black;
  border-radius: 100%; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-top: 35px;


    grid-row: 1;
    grid-column: 1;
    
}

.about__logo-image{
    height: 114px;
    width: 148px;
    position: absolute;

}



.about__title{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text{
    font-size: 20px;
}

.about__text:nth-child(1){
    margin-bottom: 24px;
}



/* ----- footer ------*/

.footer{
    margin: 180px 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer__menu{
    margin-bottom: 82px;
}

.footer__menu-list{
    list-style-type: none;
    text-align: center;
    
}

.footer__menu-list-item{
    
}

.footer__menu-link{
    
    text-decoration: underline;
}

.footer__menu-link_active{
    text-decoration: none;
}

.footer__social-list{
    display: flex;
    justify-content: space-between;
    width: 240px;
    justify-self: end;
}

.footer__social-list-item{
    list-style-type: none;
    
}

.footer__social-link{
}

.footer__social-icon{
    height: 48px;
    width: 48px;

}




